body {
    padding-top: 55px;
    padding-bottom: 25px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 14px;
    padding-right: 14px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 270px;
}